#content {
  margin-top: 5px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px gray;
  padding: 0px;
  overflow: hidden;
  left: auto;
  right: auto;
}
  header{
    background: #E03137;
    color: black;;
    margin:0px;
    height: 90px;
    line-height: 90px;
  }
header h1{
    display:block;
    line-height:90px;
    display: block;
    font-weight: bold;
    font-size: 30px;
  }
  nav{
    padding:0px;
    margin:0px;
  }
    nav ul{
     margin:0px;
    list-style: none;
}

nav ul li{
     float:left;
     margin-right: 20px;
     padding-left: 10px;

}
nav ul  {
  color: black ;
  background:lightcoral;
  height: 27px;

}
footer{
  margin-top:50px;
  padding-top:10px;
  border-top:1px solid #eee;
  color:gray
}
#nav ul li a:hover{
  text-decoration:none;
  background: crimson !important;

}
.activado{
  text-decoration:none !important;
  border-radius: 4px;
  border-bottom: 1px solid yellow !important;


}
main .jumbotron{
  padding: 50px;
  margin: 30px;
  border-radius: 20px;

}
